<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>New Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Support Tickets!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <i class="fa fa-car fa-fw"></i> Cars for rent
                  </div>
                  <div id="carcardssection" class="panel-body">

                  </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">

  getAllCars();

  function getAllCars(){

    $.ajax({
         url: "api/cars/all",
         type: "GET",
         success: function(data) {
           console.log(data);
           var html = "";
           for(var i = 0; i < data.length; i++){
             html+='<div class="card mb-3">'
                  +'<div class="row no-gutters">'
                  +'<div class="col-md-4">'
                  +'<img src="./assets/imgs/ibiza.jpg" class="card-img fit-image">'
                  +'</div>'
                  +'<div class="col-md-4">'
                  +'<div class="card-body">'
                  +'<h5 class="card-title">'+data[i].model+'</h5>'
                  +'<div class="row">'
                  +'<div class="col-sm-1"><img src="./assets/imgs/cardoor.png" alt="number of doors" class="miniimg"></div>'
                  +'<div class="col-sm-10">'+data[i].number_of_doors+'</div>'
                  +'</div>'
                  +'<br>'
                  +'<div class="row">'
                  +'<div class="col-sm-1"><img src="./assets/imgs/carshifter.png" alt="number of gears" class="miniimg"></div>'
                  +'<div class="col-sm-10">'+data[i].number_of_gears+'</div>'
                  +'</div>'
                  +'<br>'
                  +'<div class="row">'
                  +'<div class="col-sm-1"><img src="./assets/imgs/carseat.png" alt="number of seats" class="miniimg"></div>'
                  +'<div class="col-sm-10">'+data[i].number_of_seats+'</div>'
                  +'</div>'
                  +'</div>'
                  +'</div>'
                  +'<div class="col-md-4">'
                  +'<div class="card-body">'
                  +'<label for="start">Start date:</label>'
                  +'<input type="date" id="returnDate'+data[i].id+'" name="trip-start"'
                  +'value="2021-07-21"'
                  +'min="2021-07-21" max="2030-12-31">'
                  +'<br>'
                  +'<br>'
                  if(data[i].status == "FOR RENT"){
                    html +='<button type="button" onclick="addRental('+data[i].id+')" class="btn btn-danger btn-lg btn-block align-bottom">Rent</button>'
                  }else{
                  html+='<button type="button" class="btn btn-danger btn-lg btn-block align-bottom" disabled>Rented out</button>'
                  }
                  html+='</div>'
                  +'</div>'
                  +'</div>'
                  +'</div>'
           }

           document.getElementById("carcardssection").innerHTML += html;


         }
      });
  }

  function test(car){
    console.log(car);
  }

  function addRental(car){
    var date = document.getElementById("returnDate"+car).value;
    var carObj ='{ "car_id":"'+car+'" , "return_date":"'+date+'" }';
    var obj = JSON.parse(carObj);
    console.log(date);
    RestClient.post("api/users/rentings/add", obj, function(data){
      toastr.success("You rented this car successfully");
    });

    RestClient.put("api/user/rent/"+car, null, function(data){
    });
    document.getElementById("carcardssection").innerHTML = "";
    getAllCars();
  }

</script>
